@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
.arizonia-regular {
  font-family: "Arizonia", serif;
  font-weight: 400;
  font-style: normal;
}
